numpy~=1.23.0
pandas
typing-extensions
ipykernel

PySimpleGUI~=4.40.0

# sklearn~=0.0
scipy
scikit-learn
shapely

matplotlib==3.3.4
seaborn
imageio
imageio-ffmpeg

nengo
# mesa~=0.8.6
agentpy
box2d-py

pygame
argparse~=1.4.0
progressbar2~=3.53.1
pint
statsmodels

powerlaw~=1.4.6
h5py
pypet~=0.6
PyPDF2~=1.26.0
