# For building the documentation:
gendocs
# mock
Sphinx
sphinx-autobuild
sphinx-rtd-theme
panel
holoviews
larvaworld
#libgeos-dev
# sphinxcontrib-napoleon
# sphinxcontrib-#websupport
# sphinx-copybutton
# sphinx-gallery
# sphinx-notfound-page>=0.3.0